/* .container {
  padding: 0 2rem;
} */

.main {
  min-height: 100vh;
  padding: 2rem 0;
  padding-top: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutContainer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.aboutText {
  left: 70px;
  position: relative;
  z-index: 10;
}

.aboutImage {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.moreInfo{
  padding: 50px
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 400px;
  gap: 25px;
  margin: 20px;
  /* margin-top: 3rem;
  margin-right: 0px; */
}

.projectContainer {
  margin-top: 100px;
}
.projectsRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* width: 100%; */
}

.projectsColumnLeft{
  display: flex;
  flex-direction: column;
  left: 100px;
  position: relative;
  
}

.projectsColumnRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Gradient */

.heroHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  position: relative;
  background: linear-gradient(180deg, #FFFFFF 51.85%, rgba(255, 255, 255, 0.5) 77.89%, rgba(217, 217, 217, 0) 91.96%);
}

.heroHeader:before,
.heroHeader:after {
  content: '';
  display: block;
  position: absolute;
  width: 100vw;
  border-radius: 100%;
  opacity: 0.18;
}
.heroHeader:before {
  box-shadow: 0 0 150px 150px #F6DDAD;
  animation: hue 5s 0s linear infinite, move1 10s 0s linear infinite;
}
.heroHeader:after {
  box-shadow: 0 0 150px 150px #0ff;
  animation: hue 10s 0s linear infinite, move2 20s 0s linear infinite;
}
@-moz-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@-webkit-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@-o-keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@keyframes hue {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
@-moz-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@-webkit-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@-o-keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@keyframes move1 {
  0% {
    top: 0vh;
    left: 50vw;
  }
  25% {
    left: 0vw;
  }
  50% {
    top: 100vh;
  }
  75% {
    left: 100vw;
  }
  100% {
    top: 0vh;
    left: 50vw;
  }
}
@-moz-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@-webkit-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@-o-keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}
@keyframes move2 {
  0% {
    top: 50vh;
    left: 100vw;
  }
  25% {
    top: 100vh;
  }
  50% {
    left: 0vw;
  }
  75% {
    top: 0vh;
  }
  100% {
    top: 50vh;
    left: 100vw;
  }
}


.heroHeader {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 60px;
  padding-bottom: 0px;
  background: linear-gradient(180deg, #FFFFFF 51.85%, rgba(255, 255, 255, 0.5) 77.89%, rgba(217, 217, 217, 0) 91.96%);
}

.portraitText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #8FB6FF;
  text-align: center;
  z-index: 0;
  position: relative;
}

.portraitText > p {
 font-size: 55px;
 padding: 0px;
 margin: 0px;
 font-weight: 100;
}

.sofia {
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.3px #8FB6FF;
  letter-spacing: 0.1em;
  font-size:  220px;
  font-family: 'Adorage', serif;
  margin:-40px;
  padding: 0px;
}

.portrait:hover .sofia {
  -webkit-text-fill-color: #8FB6FF;
}

.circle{
  position: absolute;
  z-index: 1;
  width:750px;
  height: 600px;
}

.portraitImage {
  position: relative;
  z-index: 2;
  width:600px;
  height: 600px;
}

.containerInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 100px;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.portrait {
  position: relative;
  width: 100%;
  height: 50%;
  z-index: 1;
}

.portrait:hover .portraitImage {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.CTA {
  margin: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



  